In [1]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds

In [31]:
ratings_df = pd.read_csv('F:\\RecommendationEngine\\dataset\\ml-latest-small\\ratings.csv')
print('Ratings Dataset Shape:',ratings_df.shape)
print('Unique Users:',ratings_df.userId.nunique())
ratings_df.head()

Ratings Dataset Shape: (100836, 4)
Unique Users: 610

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [32]:
movies_df = pd.read_csv('F:\\RecommendationEngine\\dataset\\ml-latest-small\\movies.csv')
print('Movies Dataset Shape:',movies_df.shape)
print('Unique Movies are:', movies_df.movieId.nunique())
movies_df.head()

Movies Dataset Shape: (9742, 3)
Unique Movies are: 9742

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [33]:
A_df = ratings_df.pivot_table(index=['userId'],columns=['movieId'],values='rating',aggfunc=np.max)
A_df.replace({np.nan:0},inplace=True) # Don't use regex=True inside the dataframe
A_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
A = A_df.values # Convert to ndarray
A

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [35]:
user_rating_mean = np.mean(A,axis=1)
user_rating_mean

array([0.10417524, 0.01177499, 0.00976964, 0.07897984, 0.01645413,
       0.11281366, 0.05049362, 0.01727684, 0.01542575, 0.0472028 ,
       0.02488688, 0.01444879, 0.01162073, 0.01676265, 0.04787125,
       0.03753599, 0.04545455, 0.19266763, 0.18850267, 0.08936652,
       0.14854998, 0.03146853, 0.04540313, 0.04128959, 0.01285479,
       0.00699301, 0.04925956, 0.1770362 , 0.03450226, 0.01655697,
       0.02015631, 0.03938708, 0.06077746, 0.03023447, 0.0096668 ,
       0.01624846, 0.00894694, 0.02581242, 0.04113534, 0.03990128,
       0.07260387, 0.16135335, 0.0533731 , 0.01655697, 0.15903949,
       0.01727684, 0.04396339, 0.0136775 , 0.00920403, 0.08864665,
       0.13939737, 0.05985191, 0.01028383, 0.01028383, 0.00730152,
       0.01799671, 0.16608392, 0.04494035, 0.04792267, 0.00843274,
       0.01624846, 0.15364048, 0.10119292, 0.2003805 , 0.01408885,
       0.14263677, 0.01470588, 0.41901481, 0.02067051, 0.02756067,
       0.01295763, 0.01923077, 0.08016248, 0.07774578, 0.02293295,
       0.03774167, 0.01192925, 0.0198478 , 0.02766351, 0.07316948,
       0.00740436, 0.07892842, 0.04015837, 0.11116824, 0.01295763,
       0.02828054, 0.00853558, 0.02324146, 0.18500617, 0.02262443,
       0.20079186, 0.00971822, 0.04278075, 0.01748252, 0.07018717,
       0.03116002, 0.01552859, 0.0370218 , 0.02108186, 0.06005759,
       0.02231592, 0.01933361, 0.15148087, 0.09846771, 0.30563554,
       0.01506582, 0.0136775 , 0.03116002, 0.04206088, 0.01953928,
       0.22187371, 0.02401275, 0.05625257, 0.01095228, 0.04339778,
       0.03074866, 0.05666392, 0.00863842, 0.09234883, 0.00771288,
       0.01964212, 0.13651789, 0.02324146, 0.02051625, 0.14289387,
       0.01285479, 0.00704443, 0.01480872, 0.05645825, 0.010181  ,
       0.02442411, 0.10844303, 0.01079803, 0.01285479, 0.10417524,
       0.03784451, 0.05769231, 0.00796997, 0.04278075, 0.21878856,
       0.06113739, 0.01491156, 0.02426985, 0.04776841, 0.00791855,
       0.01033525, 0.00694159, 0.01845948, 0.01624846, 0.00956397,
       0.02149321, 0.02606952, 0.04082682, 0.01532291, 0.01707116,
       0.15112094, 0.0075072 , 0.00915261, 0.03265117, 0.12170917,
       0.01537433, 0.01655697, 0.00709585, 0.01573427, 0.02365282,
       0.07959687, 0.06118881, 0.04314068, 0.11754422, 0.017174  ,
       0.03907857, 0.01023241, 0.00894694, 0.02519539, 0.00874126,
       0.0150144 , 0.31381119, 0.03239408, 0.02684081, 0.00879268,
       0.0356849 , 0.35278692, 0.02241876, 0.05105923, 0.01707116,
       0.09481695, 0.10016454, 0.02169889, 0.00843274, 0.02653229,
       0.03270259, 0.00915261, 0.0136775 , 0.00714726, 0.0678733 ,
       0.01295763, 0.01388318, 0.08257919, 0.12674825, 0.13086179,
       0.04638009, 0.1582682 , 0.01779103, 0.03378239, 0.01074661,
       0.01038667, 0.0059132 , 0.0088441 , 0.01527149, 0.05789798,
       0.03573632, 0.09157754, 0.03306253, 0.00647882, 0.03938708,
       0.06180584, 0.17410531, 0.00899835, 0.17189428, 0.08437886,
       0.14047717, 0.08139654, 0.02524681, 0.02365282, 0.0281777 ,
       0.18125257, 0.04062114, 0.00961538, 0.02498972, 0.04087824,
       0.00951255, 0.28815302, 0.05090498, 0.07280954, 0.02437269,
       0.01223776, 0.01727684, 0.01665981, 0.11553887, 0.05152201,
       0.0311086 , 0.01295763, 0.01532291, 0.03609626, 0.00586179,
       0.08921226, 0.05779515, 0.01964212, 0.39762443, 0.01172357,
       0.01151789, 0.01640271, 0.02103044, 0.05198478, 0.01162073,
       0.07059852, 0.00658165, 0.01079803, 0.00930687, 0.05877211,
       0.02103044, 0.01820239, 0.08026532, 0.02051625, 0.05614973,
       0.06478815, 0.02447552, 0.04339778, 0.01079803, 0.01316331,
       0.01408885, 0.01156931, 0.02262443, 0.44791238, 0.16937474,
       0.0185109 , 0.01028383, 0.00796997, 0.06602221, 0.07861991,
       0.00694159, 0.09831345, 0.01192925, 0.03362814, 0.01465446,
       0.04128959, 0.04098108, 0.34132044, 0.00894694, 0.1137392 ,
       0.01357466, 0.15142945, 0.00565611, 0.11733854, 0.01578568,
       0.01156931, 0.01923077, 0.22824969, 0.00863842, 0.01414027,
       0.03892431, 0.01316331, 0.02128754, 0.08597285, 0.27324146,
       0.03820444, 0.26727684, 0.0286919 , 0.04067256, 0.02324146,
       0.00673591, 0.08504731, 0.12001234, 0.04010695, 0.01141506,
       0.0163513 , 0.07250103, 0.33952077, 0.01593994, 0.0072501 ,
       0.02056767, 0.03753599, 0.03198272, 0.00678733, 0.09841629,
       0.06278281, 0.02025915, 0.08458453, 0.00678733, 0.09373715,
       0.06267997, 0.09882764, 0.00678733, 0.05414439, 0.01059235,
       0.02488688, 0.03331962, 0.01177499, 0.15528589, 0.01213492,
       0.02031057, 0.01995064, 0.02462978, 0.02673797, 0.02488688,
       0.06211436, 0.01645413, 0.02642945, 0.01419169, 0.01336898,
       0.05316742, 0.11430481, 0.03229124, 0.08679556, 0.01038667,
       0.11949815, 0.1558515 , 0.01372892, 0.0260181 , 0.00863842,
       0.03172563, 0.04756273, 0.010181  , 0.00904977, 0.07836281,
       0.0125977 , 0.07342657, 0.1370835 , 0.04499177, 0.03393665,
       0.01917935, 0.08144796, 0.03280543, 0.0123406 , 0.01326615,
       0.05558412, 0.05270465, 0.01974496, 0.01254628, 0.46009872,
       0.17266557, 0.10499794, 0.01326615, 0.02221308, 0.07034142,
       0.01923077, 0.3441485 , 0.01079803, 0.01439737, 0.03198272,
       0.14747018, 0.00822707, 0.04859111, 0.00699301, 0.01912793,
       0.00904977, 0.00935829, 0.0201049 , 0.01460304, 0.01995064,
       0.02612094, 0.01902509, 0.01316331, 0.02097902, 0.04946524,
       0.00668449, 0.00930687, 0.05933772, 0.04977376, 0.06972439,
       0.04257507, 0.04082682, 0.02540107, 0.94112505, 0.03948992,
       0.0160942 , 0.03074866, 0.03481078, 0.0606232 , 0.05542986,
       0.01563143, 0.03177705, 0.00879268, 0.05213904, 0.11116824,
       0.03331962, 0.02678939, 0.08144796, 0.02375566, 0.02231592,
       0.00560469, 0.09749074, 0.00853558, 0.09060058, 0.01866516,
       0.03465652, 0.04771699, 0.21909708, 0.00889552, 0.01321473,
       0.0209276 , 0.00262238, 0.01568285, 0.01645413, 0.03054299,
       0.02776635, 0.03105718, 0.54581448, 0.01285479, 0.02097902,
       0.01326615, 0.09466269, 0.1260798 , 0.0174311 , 0.02025915,
       0.01686549, 0.01779103, 0.02519539, 0.01162073, 0.03542781,
       0.00817565, 0.15939942, 0.01285479, 0.05327026, 0.04915673,
       0.04566022, 0.00771288, 0.01151789, 0.17564788, 0.02889757,
       0.01115796, 0.01228918, 0.01300905, 0.73683669, 0.07029   ,
       0.02612094, 0.23056355, 0.00637598, 0.06180584, 0.28157137,
       0.00894694, 0.04483752, 0.2709276 , 0.10787742, 0.00915261,
       0.02313863, 0.01809955, 0.04432332, 0.20110037, 0.03671329,
       0.027355  , 0.04812834, 0.02313863, 0.00956397, 0.10926573,
       0.010181  , 0.01871658, 0.01460304, 0.01064377, 0.0286919 ,
       0.01480872, 0.0123406 , 0.03265117, 0.03419375, 0.01331756,
       0.01408885, 0.00730152, 0.00529617, 0.15446318, 0.03223982,
       0.02205882, 0.01943645, 0.01280337, 0.135181  , 0.01295763,
       0.00987248, 0.09815919, 0.00874126, 0.01156931, 0.07424928,
       0.01480872, 0.07877417, 0.0361991 , 0.04658577, 0.1821267 ,
       0.02498972, 0.07075278, 0.02606952, 0.00822707, 0.01048951,
       0.00853558, 0.0220074 , 0.01712258, 0.20346565, 0.00822707,
       0.01398601, 0.01964212, 0.01701974, 0.01486014, 0.01727684,
       0.03033731, 0.0407754 , 0.03481078, 0.00987248, 0.00796997,
       0.02262443, 0.00894694, 0.01095228, 0.00791855, 0.01182641,
       0.04699712, 0.06031469, 0.0370218 , 0.03661045, 0.20536816,
       0.0134204 , 0.01069519, 0.02262443, 0.04730564, 0.16803784,
       0.17513369, 0.09723365, 0.07229535, 0.05779515, 0.01090086,
       0.02694364, 0.08890374, 0.00976964, 0.00822707, 0.06710202,
       0.02961744, 0.0657137 , 0.12952489, 0.00935829, 0.01172357,
       0.00637598, 0.05902921, 0.0110037 , 0.02982312, 0.1582682 ,
       0.01799671, 0.02319005, 0.01897367, 0.03506787, 0.02720074,
       0.09337721, 0.06746195, 0.01871658, 0.01655697, 0.25123406,
       0.01820239, 0.03465652, 0.0346051 , 0.09363431, 0.00863842,
       0.14772727, 0.18120115, 0.00822707, 0.6732826 , 0.23472851,
       0.04596874, 0.04709996, 0.34018922, 0.03578774, 0.0729638 ,
       0.41937474, 0.07280954, 0.26784245, 0.01244344, 0.49388112])

In [36]:
A_normalized = A - user_rating_mean.reshape(-1,1)
A_normalized

array([[ 3.89582476, -0.10417524,  3.89582476, ..., -0.10417524,
        -0.10417524, -0.10417524],
       [-0.01177499, -0.01177499, -0.01177499, ..., -0.01177499,
        -0.01177499, -0.01177499],
       [-0.00976964, -0.00976964, -0.00976964, ..., -0.00976964,
        -0.00976964, -0.00976964],
       ...,
       [ 2.23215755,  1.73215755,  1.73215755, ..., -0.26784245,
        -0.26784245, -0.26784245],
       [ 2.98755656, -0.01244344, -0.01244344, ..., -0.01244344,
        -0.01244344, -0.01244344],
       [ 4.50611888, -0.49388112, -0.49388112, ..., -0.49388112,
        -0.49388112, -0.49388112]])

In [37]:
U,sigma,Vt = svds(A_normalized,k=50)

In [38]:
sigma = np.diag(sigma)

In [39]:
predicted_rating = np.dot(np.dot(U,sigma),Vt)+user_rating_mean.reshape(-1,1)
predicted_rating_df = pd.DataFrame(predicted_rating,columns=A_df.columns)

In [52]:
def recommend_movies(prediction_df,userID, movies_df, original_ratings_df,num_recommendations):
    user_row_number = userID-1
    sorted_user_predictions = predicted_rating_df.iloc[user_row_number].sort_values()
    user_data = original_ratings_df[original_ratings_df.userId==(userID)]
    user_full = (user_data.merge(movies_df,how='left',left_on='movieId',right_on='movieId').sort_values(['rating'],ascending=False))
    print('user {} has already rated {} movies'.format(userID, user_full.shape[0]))
    print('Recommending highest {} predicted ratings movies not already rated.'.format(num_recommendations))
    recommendations = (movies_df[~movies_df['movieId'].isin(user_full['movieId'])].merge(pd.DataFrame(sorted_user_predictions).reset_index(),how='left',left_on='movieId',right_on='movieId').rename(columns={user_row_number:'Predictions'}).sort_values('Predictions',ascending=False).iloc[:num_recommendations,:-1])
    return user_full, recommendations

already_rated, predictions = recommend_movies(predicted_rating_df, 2, movies_df, ratings_df,10)

user 2 has already rated 29 movies
Recommending highest 10 predicted ratings movies not already rated.

In [57]:
already_rated.head(10)

,userId,movieId,rating,timestamp,title,genres
28,2,131724,5.0,1445714851,The Jinx: The Life and Deaths of Robert Durst ...,Documentary
27,2,122882,5.0,1445715272,Mad Max: Fury Road (2015),Action|Adventure|Sci-Fi|Thriller
22,2,106782,5.0,1445714966,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama
18,2,89774,5.0,1445715189,Warrior (2011),Drama
9,2,60756,5.0,1445714980,Step Brothers (2008),Comedy
16,2,80906,5.0,1445715172,Inside Job (2010),Documentary
2,2,1704,4.5,1445715228,Good Will Hunting (1997),Drama|Romance
8,2,58559,4.5,1445715141,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
10,2,68157,4.5,1445715154,Inglourious Basterds (2009),Action|Drama|War
15,2,80489,4.5,1445715340,"Town, The (2010)",Crime|Drama|Thriller

In [58]:
predictions

,movieId,title,genres
2223,2959,Fight Club (1999),Action|Crime|Drama|Thriller
1936,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
7398,80463,"Social Network, The (2010)",Drama
312,356,Forrest Gump (1994),Comedy|Drama|Romance|War
8850,134130,The Martian (2015),Adventure|Drama|Sci-Fi
508,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
6323,48780,"Prestige, The (2006)",Drama|Mystery|Sci-Fi|Thriller
3634,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
7032,69122,"Hangover, The (2009)",Comedy|Crime
4795,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy